 <div class="sidebar">
            <a href="index.html" class="sidebar-nav active"><i class="icon fa-solid fa-house"></i><span>Dashboard</span></a>

            <button class="dropdown-btn">
                <i class="icon fa-solid fa-users"></i><span>Dropdown</span><i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-user-check"></i><span>Link 1</span></a>
                <a href="sidebar_dropdown.html" class="sidebar-nav"><i class="icon fa-solid fa-user-gear"></i><span>Link 2</span></a>
                <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-chalkboard-user"></i><span>Link 3</span></a>
            </div>

            <button class="dropdown-btn">
                <i class="icon fa-solid fa-globe"></i><span>Dropdown</span><i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-car-rear"></i><span>Link 1</span></a>
                <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-bus"></i><span>Link 2</span></a>
                <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-plane"></i><span>Link 3</span></a>
                <a href="sidebar_dropdown2.html" class="sidebar-nav"><i class="icon fa-solid fa-ship"></i><span>Link 4</span></a>
            </div>

            <a href="listar.html" class="sidebar-nav"><i class="icon fa-solid fa-list"></i><span>Listar</span></a>

            <a href="formulario.html" class="sidebar-nav"><i class="icon fa-solid fa-file-lines"></i><span>Formulário</span></a>

            <a href="visualizar.html" class="sidebar-nav"><i class="icon fa-solid fa-eye"></i><span>Visualizar</span></a>

            <a href="alert.html" class="sidebar-nav"><i class="icon fa-solid fa-triangle-exclamation"></i><span>Alerta</span></a>

            <a href="button.html" class="sidebar-nav"><i class="icon fa-solid fa-square-check"></i><span>Botão</span></a>

            <a href="login.html" class="sidebar-nav"><i class="icon fa-solid fa-arrow-right-from-bracket"></i><span>Sair</span></a>

</div>